.tablero {
    display: flex;
    flex-wrap: wrap;
}

.portada {
    height: 300px;
    margin: 5px;
    background-color: rgb(179, 60, 76);
}
.contenido {
    border: orchid solid 5px;
    background: rgb(179, 60, 76);
    z-index: 1;
}


.card {
    cursor: pointer;
}