.tablero {
    display: flex;
    flex-wrap: wrap;
}

.portada {
    height: 300px;
    margin: 5px;
    background-color: rgb(179, 60, 76);
}
.contenido {
    border: orchid solid 5px;
    background: rgb(179, 60, 76);
    z-index: 1;
}


.card {
    cursor: pointer;
}
.character-info {
    background-color: rgba(128, 128, 128, 0.226);
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}