.frogUp {
    background-image: url("../images/frogUp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
        /* position: relative;
        width: 254px;
        box-sizing: content-box;
        border-width: 50px 18px 0;
        border-style: solid;
        border-color: red transparent; */
}
.frog {
    background-image: url("../images/frog.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
}
.hidden {
    height: 600px;
    width: 600px;
    display: none;
}
/* .polygon::before {
    content: "";
      position: absolute;
      height: 0;
      width: 0;
      top: -85px;
      left: -18px;
      border-width: 0 45px 35px;
      border-style: solid;
      border-color: transparent transparent red;
} */