.frogUp {
    background-image: url("../images/frogUp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
}
.frog {
    background-image: url("../images/frog.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
}
.hidden {
    height: 300px;
    width: 300px;
    display: none;
}
